.toggle-button:hover {
    -fx-background-color: #8080ff;
}
.toggle-button:pressed{
    -fx-background-color: #cdcdff;

}
.toggle-button{
    -fx-color-one: #d6d6d6;
    -fx-color-two: #d9d9d9;
    -fx-color-three: #f6f6f6;

    -fx-background-color:
            linear-gradient(#f2f2f2, -fx-color-one),
            linear-gradient(#fcfcfc 0%, -fx-color-two 20%, -fx-color-one 100%),
            linear-gradient(#dddddd 0%, -fx-color-three 50%);
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}
.toggle-button:selected:focused{
    -fx-background-color: #cdcdff;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
.toggle-button:armed{
    -fx-background-color: #cdcdff;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
/*.text-field{*/
/*    -fx-background-color: #ffffff;*/
/*    -fx-background-insets: 0, 0 0 1 0 ;*/
/*    -fx-background-radius: 0 ;*/
/*}*/
/*.tab-pane{*/
/*    -fx-background-color: #b9bbbb;*/
/*    -fx-background-insets: 0, 0 0 1 0 ;*/
/*    -fx-background-radius: 0 ;*/

/*}*/
/*.label{*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: Verdana;*/
/*}*/
/*.scroll-pane{*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: Verdana;*/
/*    -fx-background-color: #b9bbbb;*/
/*}*/
/*.radio-button{*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: Verdana;*/
/*}*/
